<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 *
 * @copyright Copyright © 2019 Codilar Technologies. All rights reserved.
 * @author    arijit@codilar.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Codilar_CouponCode" setup_version="0.0.1" >
        <sequence>
            <module name="Magento_SalesRule"/>
        </sequence>
    </module>
</config>